* {
    font-family: 'Montserrat';
    box-sizing: border-box;
    background-color: #F6F7FB;
}

.body{
    margin:0;
}

.menu {
    overflow: hidden;
    background-color: #E0F8F5;
    font-weight: bold;
}

.menu a{
    background-color: #E0F8F5;
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 16px;
}

.menu a.active {
    background-color: #BEEDE5;
}

.menu a:hover{
    color:#3e524e
}

/* Extra small devices (phones) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones) */
@media only screen and (min-width: 600px) {

}

/* Large devices (laptops/desktops) */
@media only screen and (min-width: 992px) {

}