* {
    font-family: 'Montserrat';
    box-sizing: border-box;
    background-color: #F6F7FB;
}

.body{
    margin:0;
}

.menu {
    overflow: hidden;
    background-color: #E0F8F5;
    font-weight: bold;
    margin: 0;
}

.menu a{
    background-color: #E0F8F5;
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 16px;
}

.menu a.active {
    background-color: #BEEDE5;
}

.menu a:hover{
    color:#3e524e
}

.sectiontitle {
    font-size: 32px;
    font-weight: bolder;
    padding: 30px;
    text-align: center;
    display: block;
    position: static;
}

hr {
    margin: 20px;
}

.imggallery{
    padding: 0px 40px;
    display: block;
    position: static;
}

.galleryphotos{
    width:100%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.418);
    display: block;
    position: static;
}

.img4column{
    width: 25%;
    padding: 10px;
    float: left;
    position: relative;
    display:block;
}

.img3column{
    width: 33.33%;
    padding: 10px;
    float: left;
    position: relative;
}

.row::after {
    content: "";
    clear: both;
    display: table;
    margin-bottom: 30px;
}

.overlay {
    position: absolute;
    background: #beede5d5;
    color: black;
    width: 80%;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
    opacity:0;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

.img3column:hover .overlay, .img4column:hover .overlay{
    opacity: 1;
}

/* Extra small devices (phones) */
@media only screen and (max-width: 600px) {
    .imggallery{
        padding: 0px 20px;
    }
    .img3column, .img4column{
        width: 100%;
        padding: 10px;
    }
}

/* Large devices (laptops/desktops) */
@media only screen and (min-width: 992px) {

}