* {
    font-family: 'Montserrat';
    box-sizing: border-box;
    background-color: #F6F7FB;
}

.body{
    margin:0;
}

.menu {
    overflow: hidden;
    background-color: #E0F8F5;
    font-weight: bold;
}

.menu a{
    background-color: #E0F8F5;
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 16px;
}

.menu a.active {
    background-color: #BEEDE5;
}

.menu a:hover{
    color:#3e524e
}

.sectiontitle {
    font-size: 32px;
    font-weight: bolder;
    padding: 30px;
    text-align: center;
}

.imggallery{
    padding: 0px 40px;
}

.galleryphotos{
    width:100%;
    border-radius: 20px;
    border: 5px solid #BEEDE5;
}

.imgcolumn{
    width: 33.33%;
    padding: 10px;
    float: left;
    position: relative;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.overlay {
    position: absolute;
    bottom: 15px;
    background: #beede5ab;
    color: black;
    width: 95%;
    transition: .5s ease;
    opacity:0;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

.imgcolumn:hover .overlay {
    opacity: 1;
}

/* Extra small devices (phones) */
@media only screen and (max-width: 600px) {
    .imggallery{
        padding: 0px 20px;
    }
    .imgcolumn{
        width: 100%;
        padding: 10px;
    }
}

/* Large devices (laptops/desktops) */
@media only screen and (min-width: 992px) {

}